<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

    <body>
        <div class="container-fluid">

            <%- include('partials/header') %>
                <div class="row alert bg-success offset-8  col-4 position-absolute p-2 text-white" id="welcome" style="z-index: 5; right: 20px; top: 10px;">
                    <div class="col-2">
                        <i class="fa fa-check"></i>
                    </div>

                    <div class="col-8 p-0">
                        <p class="">Welcome to Student Result <br> Management System</p>
                    </div>

                    <div class="col-2" data-target="#welcome" data-dismiss="alert">
                        <i class="fa fa-times"></i>
                    </div>
                </div>
                <section class="row">
                    <%- include('partials/nav') %>
                        <div class="content col-md-9 col-12 p-0 ">
                            <div class="w-100 p-2 bg-white mt-2 mb-4 ">
                                <h3 class=" ">Dashboard</h3>
                            </div>

                            <div class="main container ">
                                <div class="row text-white ">
                                    <div class="col-lg-3 col-md-6 mb-3 summary">
                                        <div class="d-flex bg-primary pt-4 ">
                                            <span class="col-4 p-0 ">
                                                <i class="fa fa-users fa-4x "></i>
                                            </span>
                                            <div class=" col-8 text-right ">
                                                <h6>5 <br> Reg. User</h6>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 mb-3 summary">
                                        <div class="d-flex bg-danger pt-4 ">
                                            <span class="col-4 p-0 ">
                                        <i class="fa fa-file-text fa-4x "></i>
                                    </span>
                                            <div class=" col-8 text-right ">
                                                <h6>7 <br> Subject Listed</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 mb-3 summary">
                                        <div class="d-flex bg-info pt-4 ">
                                            <span class="col-4 p-0 ">
                                    <i class="fa fa-home fa-4x "></i>
                                </span>
                                            <div class=" col-8 text-right ">
                                                <h6>5 <br> Class Listed</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 mb-3 summary">
                                        <div class="d-flex bg-success pt-4 ">
                                            <span class="col-4 p-0 ">
                                    <i class="fa fa-print fa-4x "></i>
                                </span>
                                            <div class=" col-8 text-right ">
                                                <h6>5 <br> Result Declared</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </section>
        </div>

        <script src="../../public/lib/jquery//jquery.min.js "></script>
        <script src="../../public/lib/bootstrap/js/bootstrap.min.js "></script>
        <script src="../../public/js/admin.js"></script>
    </body>

</html>