<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>

    <body>
        <div class="container-fluid">
            <%- include('partials/header') %>
                <section class="row">
                    <%- include('partials/nav') %>
                        <div class="content col-md-9 col-12 p-0 ">
                            <div class="w-100 p-2 bg-white mt-2">
                                <h3 class=" modal-header">Subject Creation</h3>
                                <div class="breadcrumb bg-transparent p-0">
                                    <div class="breadcrumb-item">Home</div>
                                    <div class="breadcrumb-item">Subject</div>
                                    <div class="breadcrumb-item">Create Subject</div>
                                </div>
                            </div>
                            <div class="modal-body bg-white m-2">
                                <h6>Create Subject</h6>
                                <%- include('partials/flash') %>
                                    <h4 id="err">Fill the corresponding value below</h4>
                                    <form action="" method="POST">
                                        <div class="form-row mb-4">
                                            <label for="sname" class="col-2">Subject Name: </label>
                                            <div class="col-10">
                                                <input type="text" name="sname" id="sname" class="form-control">
                                            </div>
                                        </div>

                                        <div class="form-row mb-4">
                                            <label for="scode" class="col-2">Subject Code</label>
                                            <div class="col-10">
                                                <input type="text" name="scode" id="scode" class="form-control">
                                            </div>
                                        </div>

                                        <button type="button" class="btn btn-success btn-lg">Submit</button>
                                    </form>
                            </div>
                        </div>
                </section>
        </div>

        <script src="../../public/lib/jquery//jquery.min.js "></script>
        <script src="../../public/lib/bootstrap/js/bootstrap.min.js "></script>
        <script src="../../public/js/admin.js"></script>

        <script>
            $(document).ready(() => {
                $('.btn').on('click', function() {
                    let sname = $('#sname').val().toString().toUpperCase(),
                        scode = $('#scode').val();

                    if ((scode.length && sname.length) === 0) {
                        $('#err').css({
                            display: "block",
                        })
                    } else {
                        $.post('/admin/subject', {
                            sname: sname,
                            scode: scode,
                        }, (data) => {
                            $('.flash').css({
                                display: 'flex'
                            })
                            console.log(data)
                            $('#sname').val("")
                            $('#scode').val("")
                        })
                    }

                })

                $('input').on('focus', () => {
                    if ($('#err').css('display') != "none" || $('.alert').css('display') != "none") {
                        console.log('err display')
                        $('#err').hide()
                        $('.alert').hide()
                    }
                })
            })
        </script>
    </body>

</html>