<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css and bootsrap -->
    <link rel="stylesheet" href="../public/lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../public/lib/font-awesome/css/font-awesome.min.css">
    <!-- end of css & bootsrap -->
    <title>RESULT CHECKER</title>
    <style>
        .logSec {
            height: 100vh
        }
        
        div p:first-child {
            color: white;
        }
        
        section {
            width: 350px;
            height: 350px;
        }
    </style>
</head>

<body>
    <div class="logSec d-flex w-100 bg-secondary justify-content-center align-items-center">
        <section class="bg-white">
            <h5 class="text-center mt-5">Student Result Management</h5>

            <form action="/student/result" method="POST" class="p-3">
                <div class="form-group">
                    <label for="rollId">Enter your RollID</label>
                    <input type="text" required class="form-control" name="rollId">
                </div>

                <div class="form-group">
                    <label for="sclass">Class</label>
                    <select name="sclass" id="sclass" class="form-control">
                        <option value="">Select Class</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="">8</option>
                    </select>
                </div>

                <button type="submit" class="btn btn-success float-right">Search <i class="fa fa-search"></i> </button>
            </form>

        </section>

    </div>
</body>

</html>