<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../public/lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../../public/lib/dt/datatables-bs4/css/dataTables.bootstrap4.css">
    <link rel="stylesheet" href="../../../public/css/admin.css">
    <title>Dashboard</title>
</head>